# Copy the contents of this file into variables.sh and source
# Configure to your local machine

#!/bin/sh

# PYTHONPATH: 
# export PYTHONPATH=<project_root_path> + "/api"
export PYTHONPATH="/Users/vibhamasti/Personal/Programming/Projects/Log Book/log-book-api/api"


# Secret key
export SECRET_KEY="add-your-secret-key-here"